.form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form__actions {
    position: relative;
    top: -12px;

    display: flex;
    justify-content: space-between;
}

.form__link {
    font-size: 12px;
    line-height: 16px;
}
